/* @media (max-width: 575.98px) {
    body
    {
        background-color: blueviolet;

    }
} */

header,footer
{
    text-align: center;
    color: #264653;
}
body
{
    background-color: #e9c46a;
    color: #264653;
    font-family: 'Rubik', sans-serif;

}
h1
{
    font-family: 'Fredoka One', cursive;
    

}
h2
{
    text-align: center;
    font-family: 'Raleway', sans-serif;

}
a:link
{
    color: #5f0f40;

}
a:hover
{
    color: #e83f6f;
}
a:visited
{
    color: #2a9d8f;
}
main
{
    margin-left: 250px;
    margin-right: 185px;
}
figure
{
    text-align: center;
    transform: scale(0.6);
}
form
{
    font-family: 'Rubik', sans-serif;
    border: #2a9d8f;
}
input[type = reset], input[type = submit]
{
    background-color: #5f0f40;
    color: #2a9d8f;
    height: 35px;
    width: 85px;
    
}